body {
    background-image: url(./images/background_picture.jpg);
    margin-top: 120px;
}

body img {
    width: 15px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;  
}


.main_menu ul li {
    float: left;
}

.main_menu ul li a {
    display: block;
    background: lightblue;
    padding: 15px 30px 15px 40px;
    font-size: 16px;
    color: #454547;
    text-decoration: none;
    text-transform: uppercase;
}

.main_menu ul li {
    position: relative;
}

.main_menu ul li a img {
    position: absolute;
    top: 15px;
    left: 12px;
}

.main_menu ul li {
    border-right: 2px solid #e9b414;
}

.main_menu ul li:first-child {
    border-left: 5px solid #e9b414;
}

.main_menu ul li:last-child {
    border-right: 5px solid #e9b414;
}

